<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Syncfusion" value="http://nuget.syncfusion.com/nuget_xamarin/nuget/getsyncfusionpackages/xamarin/" />
    <add key="local" value="/Users/muaddub/Documents/Matsiya/Development/tyhappyPro/packages" />
  </packageSources>
  <activePackageSource>
    <add key="Syncfusion" value="http://nuget.syncfusion.com/nuget_xamarin/nuget/getsyncfusionpackages/xamarin/" />
  </activePackageSource>
</configuration>